#logContainer {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 10px;
    width: 50%;
    height: 99%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
}

#log {
    font-family: monospace;
}

::-webkit-scrollbar { display: none; }

#log tr {
    vertical-align: top;
}

td:first-child {
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}
